# IDEs
.idea
.vscode

# dependencies
node_modules
package-lock.json

# config
.env
.env.staging
src/options.js
src/options.ts
secure-connect-deleterdb.zip
redis.conf

# docker
Dockerfile
docker-compose.yml
.dockerignore

# misc
build
dist
